<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="row card-head">
        <div class="card-text">Create <span>FREE</span> account</div>
        <div class="card-text">Already have an account? <%= link_to "Login", new_user_session_path %></div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="inp-field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, :class=>'input-focus' %>
        </div>

        <div class="inp-field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, :class=>'input-focus' %>
        </div>

        <div class="inp-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>'input-focus' %>
        </div>

        <div class="inp-field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", :class=>'input-focus' %>
        </div>

        <div class="inp-field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>'input-focus' %>
        </div>

        <div class="actions text-right">
          <%= f.submit "Sign up", :class=>'submit-btn' %>
        </div>
      <% end %>

      <!--%= render "devise/shared/links" %-->
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
