<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p>
        <strong>Name:</strong>
        <%= @doctor.name %>
      </p>

      <p>
        <strong>Speciality:</strong>
        <%= @doctor.category %>
      </p>

      <p>
        <strong>Phone Number:</strong>
        <%= @doctor.phone_no %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @doctor.email %>
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <%= link_to 'Back', doctors_path %>
</div>
